html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
}


.body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.camera {
    width: 30px;
    height: 30px;
    outline: none;
}


.storyForm {
    height: 460px;
    width: 465px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 20px;
}


.titleText, .storyText {
    font-style: normal;
    font-weight: bold;
    line-height: 28px;
    color: #797979;

}


.diaryTitleSection {
    margin-top: 87.5px;
    margin-left: 9%;
}

.storySection {
    margin-top: 25px;
    margin-left: 9%;
}

.submitButton {
    margin-left: 9%;
    margin-top: 45px;
    padding: 2% 4%;
    height: 45px;
    border: none;
    background: #FDAF7F;
    border-radius: 20px;
}

.uploadButton {
    border: none;
    background-color: #FFFFFF;
    padding-left: 5%;
}

.submitButtonText {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}

.titleInput {
    width: 80%;
    height: 40px;
    margin-top: 5px;
    border: none;
    background-color: #FAF9F6;
    padding: 2% 4%;
    outline: none;
}

.titleInput::placeholder, .storyInput::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #D1D1D1;
}


.storyInput {
    width: 80%;
    height: 100px;
    margin-top: 5px;
    border: 1px solid #D1D1D1;
    background-color: #FAF9F6;
    padding: 2% 4%;
    outline: none;
    border: none;
    resize: none;
}

.container {
    display: grid;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 11% 0 0 0;
}

  /* FOR MOBILE SCREENS */

  @media(max-width: 999px) {

    .container {
       justify-content: unset;
       padding: 30% 0 0 0;
    }

    .storyForm {
        width: 100%;
        border: none;
    }

    .submitButton {
        margin-top: 5vh;
        float: right;
        margin-right: 10%;
    }

    .uploadButton {
        margin-top: 5vh;
        float:right;
        padding: 0;
    }

    .storyInput {
        width :90%;
        height: 35vh;
        padding: 10 0 0 0;
        background-color: #FFFFFF;
        text-align: left;
    }

    .titleInput {
        border: none;
        padding: 10 0 0 0;
        background-color: #FFFFFF;
    }

  }


